#bigColor {
    overflow: hidden;
    cursor: url(./images/cursor.png), auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: hidden;
    transition: background-color 0.09s ease-in;
    -webkit-font-smoothing: antialiased;
}
#textBody {
    width: 80%;
    height: 90vh;
    max-width: 1200px;
    /* margin-left: 10%; */
    display: flex;
    flex-direction: column;
    align-items: space-between;
}
#hi {
    margin-block-end: .33em
}
#homeLinks {
    font-size: 2.25rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: sofia-pro-soft, sans-serif;
	font-weight: 600;
	font-style: normal;
    color: white;
    font-size: 6.375rem;
}

/* h1 {font-weight: 600;} */
/* h2 {font-size: 5.063rem;} */
h3 {font-size: 3.375rem;}
h4 {font-size: 2.25rem;}
h5 {font-size: 1.5rem;}

#homeLinks {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}

.homeLinks {
	font-family: sofia-pro-soft, sans-serif;
	font-weight: 600;
    font-style: normal;
    font-size: 3.375rem;;
	color: white;
	/* margin-right: 40px; */
    text-decoration: none;
	/* cursor: url(./images/cursor.png), auto; */
}

.bodyLinks {
	font-family: sofia-pro-soft, sans-serif;
	font-weight: 600;
	font-style: normal;
	color: white;
	text-decoration: none;
	/* cursor: url(./images/cursor.png), auto; */
}

.quote {
	font-family: felt-tip-roman, serif;
	font-weight: 800;
}
